:root{
    --roxo: rgba(84,37,131);
    --gold: rgba(253,184,39);
}

*{
    background-color: var(--roxo);
}
.containerAll,.welcome{
    position : absolute;
}
.carrousel{
  width: 15vh;
  height: 30vh; 
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide{
    height: 50vh;
    width: 50vh;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    text-align: center;
}.slide img{
    height: 120px;
    
}


.carrosel {
    width: 500px;
    height: 300px;
    overflow: hidden;
  }
  
.carrosel div {
    width: 100%;
    height: 100%;
    display: none;
    animation: slideAnimation 1s ease-in-out infinite;
  }
  
  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  